
header {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: auto;
    gap: 20px 20px;
}

main > hr{
    width: 100%;
    height: 10px;
    background-image: url('../img/hr-img.png');
}

h1 {
    font-size: 200%;
}

footer {
    width: 900px;
    margin: auto;
}

footer > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

#authorInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bio {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 70%;
    gap: 20px;
}

#blogtitle > * > *{
    margin: 0px;
    padding: 0px;
}

#recipetitle > div > div > * {
    margin: 0px;
    padding: 0px;
}

#bio > div > * {
    margin: 0px;
    padding: 0px;
}

#end {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#end * {
    flex: 1;
    margin: auto;
    text-align: center;
    margin-top: 5px;
}

.orb {
    font-family: 'Orbitron', sans-serif;
    font-size: x-small;
    color: gray;
}

ul {
    list-style-type: none;
}

header > ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

header > ul > li {
    margin: 2px;
}

#blogtitle {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

button {
    background-color: rgb(188,112,88);
    color: white;
    padding: 15px;
    border: none;    
}
#blogtitle h1 {
    font-family: 'Dancing Script', cursive;
}

#recipetitle {
    display: flex;
    justify-content: space-between;
}

#recipetitle > div{
    display: flex;
    align-items: center;
}

#ingredients {
    display: flex;
    justify-content: space-evenly;
    background-image: url('../img/list-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15px;
}
#print {
    display: flex;
    align-items: center;
}
#print * {
    padding: 3px;
}